{% extends "base.html"%}
  {% load static %}
<!DOCTYPE html>
<html>
{% block title %}主页{% endblock %}
{% block content%}

<div class="main layui-clear">
  <div class="wrap">
    <div class="content">
      <div class="fly-tab fly-tab-index">
        <span>
          <a href="{% url 'jieindex' 1%}">全部</a>
          <a href="{% url 'jietie' "unsolved" 1%}">未结帖</a>
          <a href="{% url 'jietie' "solved" 1%}">已采纳</a>
          <a href="{% url 'jietie' "picked" 1%}">精帖</a>
          <a href="{% url 'userindex' %}">我的帖</a>
        </span>
        <form action="http://cn.bing.com/search" class="fly-search">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
        </form>
        <a href="{% url 'jieadd' %}" class="layui-btn jie-add">发布问题</a>
      </div>


      <ul class="fly-list fly-list-top">
          {% for article in pickedArticles %}
       <li class="fly-list-li">
          <a href="{% url 'userhome' article.creator.user.id %}" class="fly-list-avatar">
            <img src="/{{ article.creator.avatar }}" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="{% url 'jiedetail' article.aid %}">{{ article.title }}</a>
              {% if article.attach.isTop == 1 %}
            <span class="fly-tip-stick">置顶</span>
              {% endif %}{%if article.attach.isPicked == 1%}
            <span class="fly-tip-jing">精帖</span>
          {% endif %}{%if article.attach.isFinish == 0 %}
          <span>未结贴</span>
            {% elif article.attach.isFinish == 1%}
           <span class="fly-tip-jie">已采纳</span>
            {% endif %}
          </h2>
          <p>
            <span><a href="{% url 'userhome' article.creator.user.id%}">{{ article.creator.user.username }}</a></span>
            <span><script>
                var time=tranTime({{ article.pubTime.timestamp }},true);
                document.write(time);
            </script></span>
            <span>{{ article.Article_Category.values_list.0.1 }}</span>
            <span class="fly-list-hint">
              <i class="layui-icon" title="点赞">&#xe600;</i> {{ article.attach.votes.count }}
              <i class="iconfont" title="回答">&#xe60c;</i> {{ article.attach.replys }}
              <i class="iconfont" title="人气">&#xe60b;</i> {{ article.attach.clicks }}
            </span>
          </p>
        </li>
        {% endfor %}
      </ul>

      <ul class="fly-list">
           {% for article in articles %}
        <li class="fly-list-li">
          <a href="{% url 'userhome' article.creator.user.id %}" class="fly-list-avatar">
            <img src="/{{ article.creator.avatar }}" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="{% url 'jiedetail' article.aid %}">{{ article.title }}</a>
              {% if article.attach.isTop == 1 %}
            <span class="fly-tip-stick">置顶</span>
              {% endif %}{%if article.attach.isPicked == 1%}
            <span class="fly-tip-jing">精帖</span>
          {% endif %}
          {%if article.attach.isFinish == 0 %}
          <span>未结贴</span>
            {% elif article.attach.isFinish == 1%}
           <span class="fly-tip-jie">已采纳</span>
            {% endif %}
          </h2>
          <p>
            <span><a href="{% url 'userhome' article.creator.user.id%}">{{ article.creator.user.username }}</a></span>
            <span><script>
                var time=tranTime({{ article.pubTime.timestamp }},true);
                document.write(time);
            </script></span>
            <span>{{ article.Article_Category.values_list.0.1 }}</span>
            <span class="fly-list-hint">
              <i class="layui-icon" title="点赞">&#xe600;</i> {{ article.attach.votes.count }}
              <i class="iconfont" title="回答">&#xe60c;</i> {{ article.attach.replys }}
              <i class="iconfont" title="人气">&#xe60b;</i> {{ article.attach.clicks }}
            </span>
          </p>
        </li>
          {% endfor %}

      </ul>

      <div style="text-align: center">
        <div class="laypage-main">
          <a href="{% url 'jieindex' 1%}" class="laypage-next">更多求解</a>
        </div>
      </div>

    </div>
  </div>

  <div class="edge">
    <div class="fly-panel leifeng-rank">
      <h3 class="fly-panel-title">近一月回答榜 - TOP 12</h3>
      <dl>
          {% for user in users %}
        <dd>
          <a href="{% url 'userhome' user.creator.user.id %}">
            <img src="/{{ user.creator.avatar }}" alt="">
            <cite>{{ user.creator.user.username }}</cite>
            <i>{{ user.num }}</i>
          </a>
        </dd>
      {% endfor %}
      </dl>
    </div>

    <dl class="fly-panel fly-list-one">
      <dt class="fly-panel-title">最近热帖</dt>
        {% for article in mlarticles%}
      <dd>
        <a href="{% url 'jiedetail' article.0 %}">{{ article.1 }}</a>
        <span><i class="iconfont">&#xe60b;</i> {{ article.2 }}</span>
      </dd>
        {% endfor %}
    </dl>

    <dl class="fly-panel fly-list-one">
      <dt class="fly-panel-title">近期热议</dt>
        {% for article in mrarticles %}
        <dd>
        <a href="{% url 'jiedetail' article.0 %}">{{ article.1 }}</a>
        <span><i class="iconfont">&#xe60c;</i> {{ article.2 }}</span>
      </dd>
        {% endfor %}
    </dl>

    <div class="fly-panel fly-link">
      <h3 class="fly-panel-title">友情链接</h3>
      <dl>
        <dd>
          <a href="http://www.layui.com/" target="_blank">layui</a>
        </dd>
        <dd>
          <a href="http://layim.layui.com/" target="_blank">LayIM</a>
        </dd>
        <dd>
          <a href="http://layer.layui.com/" target="_blank">layer</a>
        </dd>
      </dl>
    </div>


  </div>
</div>

{% endblock %}
</html>