{% extends "base.html"%}
  {% load static %}
<!DOCTYPE html>
<html>
{% block title %}问题主页{% endblock %}
{% block content%}
<div class="main layui-clear">
  <div class="wrap">
    <div class="content" style="margin-right:0">
      <div class="fly-tab">
        <span>
          <a href="" class="tab-this">全部</a>
          <a href="">未结帖</a>
          <a href="">已采纳</a>
          <a href="">精帖</a>
          <a href="{% url 'userindex' %}">我的帖</a>
        </span>
        <form action="http://cn.bing.com/search" class="fly-search">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
        </form>
        <a href="{% url 'jieadd' %}" class="layui-btn jie-add">发布问题</a>
      </div>
{% if articles  %}
      <ul class="fly-list">
          {% for article in articles %}
        <li class="fly-list-li">
          <a href="{% url 'userhome' article.creator.user.id %}" class="fly-list-avatar">
            <img src="/{{ article.creator.avatar}}" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="{% url 'jiedetail'  article.aid %}">{{ article.title }}</a>
              {% if article.attach.isTop == 1 %}
            <span class="fly-tip-stick">置顶</span>
              {% endif %}{%if article.attach.isPicked == 1%}
            <span class="fly-tip-jing">精帖</span>
          {% endif %}
          </h2>
          <p>
            <span><a href="{% url 'userhome' article.creator.user.id %}">{{ article.creator.user.username }}</a></span>
            <span><script>
                var time=tranTime({{ article.pubTime.timestamp }},true);
                document.write(time);
            </script>
            </span>
            <span>{{ article.Article_Category.values_list.0.1 }}</span>
            <span class="fly-list-hint">
              <i class="iconfont" title="回答">&#xe60c;</i>{{ article.attach.replys }}
              <i class="iconfont" title="人气">&#xe60b;</i>{{ article.attach.clicks }}
            </span>
          </p>
        </li>
       {% endfor %}
      </ul>
{% else %}
      <div class="fly-none">并无相关数据</div>
{% endif %}
      <div style="text-align: center">
          <div id="demo" ></div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
</html>