  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link rel="stylesheet" href="{% static  'css/global.css' %}">
  <link rel="stylesheet" data-href="{% static  'css/full.css' %}" class="fly-style" id="style">
    <script>
    function tranTime(time,brief) {
      var stamp = new Date().getTime() - time*1000;
      if(stamp > 1000*60*60*24*30){
        stamp =  new Date(time).toLocaleString('chinese', {
          hour12: false
        }).replace(/\//g, '-');
        brief && (stamp = stamp.replace(/\s[\S]+$/g, ''));
        return stamp;
      }
      if(stamp >= 1000*60*60*24){
        return ((stamp/1000/60/60/24)|0) + '天前';
      } else if(stamp >= 1000*60*60){
        return ((stamp/1000/60/60)|0) + '小时前';
      } else if(stamp >= 1000*60*5){
        return ((stamp/1000/60)|0) + '分钟前';
      } else {
        return '刚刚';
      }
    }
    </script>
    {% block head %}{% endblock %}

</head>
<body>

{% if messages %}

<ul style="align-content: center">

    {%for message in messages %}

    <li{%if message.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</li>
    {%endfor %}

</ul>

{% endif %}
<div class="header">
  <div class="main">
    <a class="logo" href="/" title="Fly">Fly社区</a>
    <div class="nav">
      <a class="nav-this" href="{% url 'jieindex' 1 %}">
        <i class="iconfont icon-wenda"></i>问答
      </a>
      <a href="http://www.layui.com/" target="_blank">
        <i class="iconfont icon-ui"></i>框架
      </a>
    </div>

    <div class="nav-user">
{% if request.user.is_authenticated %}
      <!-- 登入后的状态 -->
      <a class="avatar" href="{% url 'userhome' request.user.id %}">
        <img src="/{{ webuser.avatar }}">
        <cite>{{ request.user.username}}</cite>
        <i>vip</i>
      </a>
      <div class="nav">
        <a href="{% url 'userset' %}"><i class="iconfont icon-shezhi"></i>设置</a>
        <a href="{% url 'userlogout' %}"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
      </div>
{% else %}
    <!-- 未登入状态 -->
      <a class="unlogin" href="{% url 'userlogin' %}"><i class="iconfont icon-touxiang"></i></a>
      <span><a href="{% url 'userlogin' %}">登入</a><a href="{% url 'userreg' %}">注册</a></span>
      <p class="out-login">
        <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
        <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
      </p>
        {% endif %}
    </div>
  </div>
</div>

{% block content %}{% endblock %}


<div class="footer">
  <p><a href="http://fly.layui.com/">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/">layui.com</a></p>
  <p>
    <a href="http://fly.layui.com/auth/get" target="_blank">产品授权</a>
    <a href="http://fly.layui.com/jie/8157.html" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
  </p>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'mods/jie.js' %}"></script>
<script src="{% static 'mods/user.js' %}"></script>
<script>
    function getCookie(c_name)
{
if (document.cookie.length>0)
  {
  c_start=document.cookie.indexOf(c_name + "=")
  if (c_start!=-1)
    {
    c_start=c_start + c_name.length+1
    c_end=document.cookie.indexOf(";",c_start)
    if (c_end==-1) c_end=document.cookie.length
    return unescape(document.cookie.substring(c_start,c_end))
    }
  }
return ""
}
    var acookie=getCookie("fly-style");
    var style=document.getElementById("style");
    if(acookie=='stretch'){
    style.setAttribute('href', '{% static 'css/full.css' %}');

   }
</script>
<script>
    var data ={{ result|safe }};
    if (data["num"]){
        layui.define(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            laypage({
                cont: 'demo'
                , pages: data["num"]
                , skin: 'fly'
                , curr: data["curr"]
                , jump: function (e, first) {
                    if (!first) {
                        console.log('第 ' + e.curr + ' 页');
                        location.href = '/jie/page/'+e.curr;
                    }
                }
            })
        });
    }
</script>
<script>
layui.cache.page = '';
layui.cache.user = {
  username: '{{ request.user.username }}'
  ,uid: {{ request.user.id }}
  ,avatar: '/{{ webuser.avatar }}'
  ,experience: {{ webuser.score }}
  ,sex: {{ webuser.sex }}
};
layui.config({
  version: "1.1.0"
  ,base: '{% static 'mods/' %}'
}).extend({
  fly: 'index'
}).use('fly');
</script>
</body>
</html>